<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reserveorder.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0dad3485-e5fb-4efe-91c5-2862abf710b1/resourceGroups/CosmosDBRG/providers/Microsoft.Web/sites/reserveorder</ResourceId>
    <UserName>$reserveorder</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://reserveorder.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>